.navbar-logo {
    background-image: url('/Spotify-Logo--Streamline-Plump-Remix.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    filter: brightness(0) invert(1);
}
.navbar{
    margin-bottom: 56px;
}